{% extends "customer/customer_base.html" %}
{% load static%}

{%block css%}
 <style>
    #checkout-mobile {
        display : none;
    }
    @media (max-width: 500px) {
        #checkout {
            display : none;
        }
        #checkout-mobile {
            display : block;
        }
    }
 </style>
{%endblock%}

{% block content %}
{% load icon %}

<div class="container-fluid" style="width:80vw; margin-top: 5vh;">
    <!--displaying the products-->
    <div class="d-flex justify-content-between align-items-center">
        <h1 id="cart-header">My Cart</h1>
        <h2 id="checkout"> {% icon "shopping-cart"%} Total: {{total}}
            <a href="{%url 'customer_checkout'%}" class="btn btn-primary" style="background-color:black; border-color:black;">Checkout</a>
        </h2>
    </div>
    <hr>
    <div  class="d-flex justify-content-between align-items-center" >
        <h2 id="checkout-mobile"> {% icon "shopping-cart"%} Total: {{total}}</h2>
        <a id="checkout-mobile" href="{%url 'customer_checkout'%}" class="btn btn-primary" style="background-color:black; border-color:black;">Checkout</a>
    </div>

    <br>
    <div class="row" >
        {% for item in cart %}
        <div class="col-md-3">
            <div class="card mb-5 shadow-sm" style="border-color: black; border-width:2px; border-radius:5px; ">
                    <center>
                        <img src="{{ item.prod.picture }}" alt="{{ item.prod.name }}" class="card-img-top">
                    </center>
                <div class="card-body">
                    <p class="card-text">{{ item.prod.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{%url 'customer_product_view' item.prod.uuid%}" class="btn btn-sm btn-outline-secondary">View Product</a>
                            <a href="{%url 'delete_cart_item' item.prod.uuid item.size%}" class="btn btn-sm btn-outline-secondary">Delete Product</a>
                        </div>
                    </div>
                    <small class="text-muted"> Price : {{ item.prod.price }} INR</small>
                    <br>
                    <div class="d-flex justify-content-between align-items-center">
                        <span> Size : {{ item.size }}</span> <br>
                        <span> Quantity : {{ item.qnt }}</span><br>
                    </div>
                    <span class="text-muted"> Sub-Total : {% widthratio item.prod.price 1 item.qnt %} INR</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}